body { 
  background-color: #00494F;
  margin: 8px auto;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  max-width: 1000px;
  cursor: none;
}

hr {
  margin: 16px auto;
}

a {
  color: #e1306f;
}

.logo {
  color: #dda53d;
}

.logo h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-top: 10px;
}


.past-trivia {
}

.past-trivia a {
  color: #7a490b;
  text-decoration: line-through;
  pointer-events: none;
  cursor: not-allowed;
}

.ugly-spinner {
  animation: ugly-spinner 7000ms infinite ease-in-out;
  display: block;
}

.ugly-spinner:hover a {
  background-color: #00ff6b;
}

@keyframes ugly-spinner {
  0% {
    transform:rotate(0deg) scale(1);
  }
  50% {
    transform:rotate(180deg) scale(1.5);
  }
  75% {
    transform:rotate(360deg) scale(1);
  }
}
