body { 
  background-color: #00494F;
  margin: 8px auto;
  text-align: center;
  color: white;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  max-width: 1000px;
}

hr {
  margin: 16px auto;
}
